body {
    font-family: sans-serif;
    justify-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none
}

nav {
    background-color: #f78b5d;
    width: auto;
    height: auto;
    padding-bottom: 20px;
    position: relative;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
    justify-content: space-between;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: 1.8em;
    text-decoration: none;
}

.head-up button,
#bt-area {
    border: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    margin: 4px 10px;
    color: white;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    width: auto;
    height: 60px;
    padding: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#login {
    border: 2px white solid;
    background-color: #f78b5d !important;
    margin-left: 20px;
}

.head-up .logo {
    float: left;
    margin-right: 60px;
}

.head-up {
    display: inline-flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 4em;
    color: white;
    margin-top: 100px;
}

.btn {
    margin: 20px 0px 20px 100px;
}

nav p {
    font-size: 1.8em;
}

.container {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.container h1 {
    color: rgb(157, 194, 243);
}

.container p {
    font-size: 1.8em;
    width: 100%;
    height: auto;
    text-align: left;
}

.container h1 {
    font-size: 1.8em;
    width: 100%;
    height: auto;
    text-align: left;
}

.container .info {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=text] {
    color: gray;
    font-style: italic;
}

input,
textarea {
    border: 2px solid rgb(201, 196, 196);
    width: auto;
    height: 60px;
    font-size: 1.7em;
    margin: 20px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

textarea {
    height: 200px !important;
    text-decoration: none;
}

#bt-area {
    border: none;
    background-color: #f78b5d;
    width: 130px;
    margin-left: auto;
}

.icon-soc {
    width: auto;
    height: 300px;
    display: flex;
}

.icon-soc .icon {
    padding-top: 40px;
    width: auto;
    height: 300px;
}

footer,
.copyright {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    color: #7a7575;
    font-size: 13px;
    line-height: 24px;
    background-color: #424242;
    justify-content: center;
}

#footer ul {
    flex-direction: column;
}

#footer,
.copyright {
    display: flex;
    flex-direction: row;
    padding: 16px;
    font-size: 24px;
    text-align: left;
}

#li-one {
    color: white !important;
}

#fab {
    display: flex;
    direction: inherit;
}

#fab li {
    color: #f78b5d !important;
    font-size: 30px;
    margin: 5px;
}

#footer li {
    padding: 5px;
    color: #a2a2a2;
}

#btn-li {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #002533;
    width: 250px;
    height: 100px;
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.copyright {
    background-color: #363636;
    width: 100%;
    height: 40px;
    position: relative;
    text-align: left !important;
}

.head-up .menu-icon,
.menu-btn {
    display: none;
}

@media screen and (min-device-width: 360px) and (max-device-width: 760px) {
    .head-up li a:hover,
    .head-up .menu-btn:hover {
        background-color: #f4f4f4;
    }
    .head-up li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #f4f4f4;
        text-decoration: none;
    }
    .head-up .menu-icon,
    .menu-btn {
        display: block;
    }
    .head-up li {
        float: left;
    }
    .head-up li a {
        padding: 20px 30px;
    }
    .head-up .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .head-up .menu-icon {
        display: none;
    }
    .head-up .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .head-up .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
    .head-up .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);
    }
    .head-up .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }
    .head-up .menu-btn:checked~.menu {
        max-height: 240px;
    }
    .head-up .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }
    .head-up .menu-btn {
        display: none;
    }
    .head-up .menu-icon .navicon:before {
        top: 5px;
    }
    .head-up .menu-icon .navicon:after {
        top: -5px;
    }
    .head-up .menu-icon .navicon:before,
    .head-up .menu-icon .navicon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .head-up .menu-icon .navicon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition-property: .2s ease-out;
        width: 18px;
    }
    .head-up .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    .head-up .menu-icon,
    .menu-btn {
        display: block;
    }
    .head-up .menu-btn:checked~.menu {
        max-height: 240px;
        background-color: black;
    }
    .head-up .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }
    .head-up {
        display: block;
    }
    .copyright {
        background-color: #363636;
        width: 100%;
        height: 100%;
        text-align: left !important;
    }
    .container {
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 12px;
        text-align: justify;
        height: 100;
    }
    svg {
        width: 80px;
        height: 80px;
    }
    #footer ul {
        flex-direction: column;
    }
    #footer,
    .copyright {
        display: flex;
        flex-direction: column;
        padding: 16px;
        font-size: 24px;
        text-align: left;
    }
}